.bar {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    background: rgba(67, 68, 68, 0.4);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(197, 189, 189, 0.1);
    backdrop-filter: blur(11.8px);
    -webkit-backdrop-filter: blur(11.8px);
    padding: 10px 30px;
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    border-radius: 25px;
}

.bar__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bar__item {}

.link {
    width: 100%;
    max-width: 65px;
    padding: 19px 7px;
    border: 1px solid transparent;
    background-color: #ffffffc6;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.activebar {
    width: 100%;
    max-width: 65px;
    padding: 19px 7px;
    border: 1px solid transparent;
    background-color: rgba(88, 214, 214, 0.692);
    border-radius: 20px;
    transition: all 0.3s ease;
}