.bar {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    background: rgba(181, 185, 185, 0.4);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(197, 189, 189, 0.1);
    backdrop-filter: blur(11.8px);
    -webkit-backdrop-filter: blur(11.8px);
    padding: 10px 30px;
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    border-radius: 30px;
}

.bar__list{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bar__item{
    width: 100%;
    max-width: 65px;
    padding: 10px;
    border: 1px solid white;
    background-color: #fff;
    border-radius: 20px;
}


