.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body {
    font-family: 'Poppins', sans-serif;
}

.tasbeh__button {
    position: absolute;
    bottom: 120px;
    width: 80%;
    height: 200px;
    border-radius: 30px;
    font-size: 16px;
    border: 1px dashed rgba(255, 255, 255, 0.644);
    background-color: transparent;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    ;
}

.tasbeh__display {
    text-align: center;
    width: 150px;
    padding: 20px;
    border-radius: 16px;
    margin-bottom: 160px;
    color: #fdfeff;
    font-weight: 700;
    font-size: 72px;
}

.reset__button {
    padding: 8px 12px;
    color: #fff;
    position: absolute;
    top: 20px;
    left: 25px;
    background: rgba(181, 185, 185, 0.4);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(197, 189, 189, 0.1);
    backdrop-filter: blur(11.8px);
    -webkit-backdrop-filter: blur(11.8px);
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 105px;
    border: none;
}
