.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body {
    font-family: 'Poppins', sans-serif;

}

.tasbeh__main {
    overflow-y: hidden;
}

.tasbeh__button {
    padding: 5px;
    position: absolute;
    bottom: 135px;
    width: 100%;
    max-width: 270px;
    height: 200px;
    border-radius: 30px;
    font-size: 16px;
    border: 1px dashed #46aa9e;
    background-color: transparent;
    color: #fff;

    font-family: 'Poppins', sans-serif;
    ;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px 0px;
}

.tasbeh__display {
    text-align: center;
    width: 150px;
    padding: 20px;
    border-radius: 16px;
    margin-bottom: 160px;
    color: teal;
    font-weight: 700;
    font-size: 72px;
}

.reset__button {
    padding: 8px 12px;
    color: #fff;
    position: absolute;
    top: 15px;
    left: 15px;
    background: rgba(255, 255, 255, 0.653);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(197, 189, 189, 0.1);
    backdrop-filter: blur(11.8px);
    -webkit-backdrop-filter: blur(11.8px);
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 120px;
    border: none;
    color: teal;
    font-weight: 600;
    z-index: 999;
}

.tasbeh__33 {
    padding: 6px 0;
    margin-bottom: 8px;
    margin-top: 8px;
    border-bottom: 2px dotted #46aa9e;
    border-top: 2px dotted #46aa9e;
}

.modal__button {
    padding: 8px 12px;
    color: #fff;
    position: absolute;
    top: 20px;
    right: 25px;
    background: rgba(255, 255, 255, 0.653);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(197, 189, 189, 0.1);
    backdrop-filter: blur(11.8px);
    -webkit-backdrop-filter: blur(11.8px);
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 105px;
    border: none;
    color: teal;
    font-weight: 600;

}

.box {
    width: 60px;
}


.slick-dots li {
    margin: 0 0.25rem;
    position: absolute;
    bottom: 133px;
    width: 10px;
}

.uz {
    font-size: 10px;
    color: #46aa9e;
}

.ar_uz {
    font-size: 10px;
    color: #46aa9e;
}

.ar {
    font-size: 24px;
    color: #c59147;
}