html {
    scroll-behavior: smooth;
    height: 100%;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    background-color: #DADBDD;
    background-image: url("../../assets/images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:
        calc(50% - 0%)
        /* 0px from the right */
        calc(50% - 20px)
        /* 10% from the bottom */



}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
}

p {
    color: #fff;
}

main {
    flex-grow: 1;
    color: #008080;

}

.container {
    width: 100%;
    max-width: 1280px;
    padding: 20px;
    margin: 0 auto;
    position: relative;
    height: 100vh;
}

.dates {
    text-align: start;
    font-weight: 600;

}

.city {
    font-weight: 600;
    text-align: end;
}

.time {
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    font-weight: 500;
    background: rgba(2, 48, 48, 0.511);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.8px);
    -webkit-backdrop-filter: blur(11.8px);
}



a {
    -webkit-tap-highlight-color: transparent;
    /* remove tap highlight */
}

.header {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.taqvim__list {
   
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 20px;
    max-width: 320px;
    gap: 15px;
    margin: 0 auto;
    margin-top: 95px;


}

.taqvim__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 15px;
    width: 100%;
    max-width: 125px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

}


.taqvim__item:nth-child(1) {
    background-image: url("../../assets/images/6.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;


}

.taqvim__item:nth-child(1)::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* backdrop-filter: blur(11.8px);
    -webkit-backdrop-filter: blur(11.8px);
    z-index: 1;
    border-radius: 16px; */
    background-color: rgba(45, 50, 104, 0.61);
}

.taqvim__item:nth-child(1)::after {

    content: "";
    /* Создаем пустой контент */
    display: block;
    /* Блочный элемент */
    position: absolute;
    /* Положение псевдоэлемента должно быть абсолютным */
    top: 0;
    /* Расположение сверху */
    left: 0;
    /* Расположение слева */
    width: 100%;
    /* Ширина на 100% */
    height: 100%;
    /* Высота на 100% */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    z-index: 1;
    /* Поднимаем слой на передний план */
    border-radius: 16px;


}

.taqvim__item:nth-child(2)::after {

    content: "";
    /* Создаем пустой контент */
    display: block;
    /* Блочный элемент */
    position: absolute;
    /* Положение псевдоэлемента должно быть абсолютным */
    top: 0;
    /* Расположение сверху */
    left: 0;
    /* Расположение слева */
    width: 100%;
    /* Ширина на 100% */
    height: 100%;
    /* Высота на 100% */
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    z-index: 1; */
    background-color: rgba(45, 50, 104, 0.61);
    /* Поднимаем слой на передний план */
    border-radius: 16px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    z-index: 1;


}

.taqvim__item:nth-child(3)::after {

    content: "";
    /* Создаем пустой контент */
    display: block;
    /* Блочный элемент */
    position: absolute;
    /* Положение псевдоэлемента должно быть абсолютным */
    top: 0;
    /* Расположение сверху */
    left: 0;
    /* Расположение слева */
    width: 100%;
    /* Ширина на 100% */
    height: 100%;
    /* Высота на 100% */
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px); */
    background-color: rgba(45, 50, 104, 0.61);
    z-index: 1;
    /* Поднимаем слой на передний план */
    border-radius: 16px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    z-index: 1;


}

.taqvim__item:nth-child(4)::after {

    content: "";
    /* Создаем пустой контент */
    display: block;
    /* Блочный элемент */
    position: absolute;
    /* Положение псевдоэлемента должно быть абсолютным */
    top: 0;
    /* Расположение сверху */
    left: 0;
    /* Расположение слева */
    width: 100%;
    /* Ширина на 100% */
    height: 100%;
    /* Высота на 100% */
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    z-index: 1; */
    background-color: rgba(45, 50, 104, 0.61);
    /* Поднимаем слой на передний план */
    border-radius: 16px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    z-index: 1;


}

.taqvim__item:nth-child(5)::after {

    content: "";
    /* Создаем пустой контент */
    display: block;
    /* Блочный элемент */
    position: absolute;
    /* Положение псевдоэлемента должно быть абсолютным */
    top: 0;
    /* Расположение сверху */
    left: 0;
    /* Расположение слева */
    width: 100%;
    /* Ширина на 100% */
    height: 100%;
    /* Высота на 100% */
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    z-index: 1; */
    background-color: rgba(45, 50, 104, 0.61);
    /* Поднимаем слой на передний план */
    border-radius: 16px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    z-index: 1;


}

.taqvim__item:nth-child(6)::after {

    content: "";
    /* Создаем пустой контент */
    display: block;
    /* Блочный элемент */
    position: absolute;
    /* Положение псевдоэлемента должно быть абсолютным */
    top: 0;
    /* Расположение сверху */
    left: 0;
    /* Расположение слева */
    width: 100%;
    /* Ширина на 100% */
    height: 100%;
    /* Высота на 100% */
    /* backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    z-index: 1; */
    background-color: rgba(45, 50, 104, 0.61);
    /* Поднимаем слой на передний план */
    border-radius: 16px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    z-index: 1;


}

.taqvim__item:nth-child(2) {
    background-image: url("../../assets/images/2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

}

.taqvim__item:nth-child(3) {
    background-image: url("../../assets/images/3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

}

.taqvim__item:nth-child(4) {
    background-image: url("../../assets/images/3.jpg");
    background-repeat: no-repeat;
    position: relative;
    background-position: bottom;


}

.taqvim__item:nth-child(5) {
    background-image: url("../../assets/images/4.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;

}

.taqvim__item:nth-child(6) {
    background-image: url("../../assets/images/7.jpg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-position: bottom;

}

.taqvim__item__text {
    z-index: 3;

}

.taqvim__item__text__time {
    z-index: 3;
    font-size: 24px;
    font-weight: 700;

}