html {
    scroll-behavior: smooth;
    height: 100%;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    background-image: url("../../assets/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom bottom;

}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
}

p {
    color: #fff;
}

main {
    flex-grow: 1;
    color: #008080;
}

.container {
    width: 100%;
    max-width: 1280px;
    padding: 20px;
    margin: 0 auto;
    position: relative;
    height: 100vh;
}

.dates {
    text-align: start;

}

.city {
    text-align: end;
}

.time {
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    font-weight: 500;
    background: rgba(0, 128, 128, 0.4);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.8px);
    -webkit-backdrop-filter: blur(11.8px);
}



a {
    -webkit-tap-highlight-color: transparent; /* remove tap highlight */
}

.header {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.taqvim__list {
    margin-top: 70px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 20px;
    gap: 20px;

   
}

.taqvim__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 15px;
    width: 100%;
    max-width: 135px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    background-image: url("../../assets/images/1.jpg");
    background-repeat: no-repeat;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* backdrop-filter: blur(11.8px);
    -webkit-backdrop-filter: blur(11.8px); */
}