html {
    scroll-behavior: smooth;
    height: 100%;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    background-color: #fff;
    /* background-image: url("../../assets/images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:
        calc(50% - 0%)
        /* 0px from the right */
    /* calc(50% - 20px)
        10% from the bottom */

    background: linear-gradient(107deg, rgb(13, 198, 180) 8.1%, rgb(33, 198, 138) 79.5%);




}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
}

p {
    color: #fff;
}

main {
    flex-grow: 1;
    color: #008080;

}

.container {
    width: 100%;
    max-width: 1280px;
    padding: 20px;
    margin: 0 auto;
    position: relative;
    height: 100vh;
}

.dates {
    text-align: start;
    font-weight: 600;
    color: teal;

}

.city {
    font-weight: 600;
    text-align: end;
    color: teal;
    font-family: 'Poppins', sans-serif;
}

.time {
    padding: 6px;
    border-radius: 10px;
    text-align: center;
    font-weight: 500;
    background: rgba(2, 48, 48, 0.511);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.8px);
    -webkit-backdrop-filter: blur(11.8px);
    font-family: 'Poppins', sans-serif;
}



a {
    -webkit-tap-highlight-color: transparent;
    /* remove tap highlight */
}

button {
    -webkit-tap-highlight-color: transparent;
}

.header {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;

}

.taqvim__list {
    
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 20px;
    max-width: 340px;
    gap: 30px;
    margin: 30px auto;


}

p {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */

}

.taqvim__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    width: 125px;
    height: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);


}














/* .taqvim__item:nth-child(2) {
    background-image: url("../../assets/images/2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

}

.taqvim__item:nth-child(3) {
    background-image: url("../../assets/images/3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

}

.taqvim__item:nth-child(4) {
    background-image: url("../../assets/images/3.jpg");
    background-repeat: no-repeat;
    position: relative;
    background-position: bottom;


}

.taqvim__item:nth-child(5) {
    background-image: url("../../assets/images/4.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;

} */

/* .taqvim__item:nth-child(6) {
    background-image: url("../../assets/images/7.jpg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-position: bottom;

} */

.taqvim__item__text {

    background: linear-gradient(107deg, rgb(13, 198, 180) 8.1%, rgb(33, 198, 138) 79.5%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins', sans-serif;

}

.taqvim__item__text__time {
    z-index: 3;
    font-size: 24px;
    font-weight: 700;
    background: linear-gradient(107deg, rgb(13, 198, 180) 8.1%, rgb(33, 198, 138) 79.5%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins', sans-serif;



}