@font-face {
    font-family: 'digitalkhatt2';
    /* Replace with your desired font name */
    src: url('../../assets/fonts/digitalkhatt2.otf') format('opentype');
    /* Replace with the URL to your OTF font file */

}

body {
    font-family: 'digitalkhatt2', sans-serif;
    /* Replace with your desired font name */
}

.card {
   
    margin: 0 auto;
    color: #1b1b1b;
    width: 250px;
    height: 299px;
    position: relative;
    outline: 6px solid #f5f5f5;
    border-radius: 8px;
    line-height: 150%;
    padding: 16px;
    background: teal;
    background-blend-mode: multiply;
    transition: background-color 1s ease-in-out;
    overflow: hidden;
    margin-top: 150px;
    overflow: auto;
  }
  
  .card-front {
    padding: 20px;
    left: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    transition: transform 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    
  }
  
  .card-back {
    padding: 10px;
    margin: 0 auto;
    transform: translateX(120%);
    transition: transform 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);

  }
  .card-back p {
    text-align: justify;
  }
  
  
  /*Text*/
  .title {
    font-size: 1.3rem;
    font-weight: bold;
  }
  /*Text divider*/
  .title::after {
    content: "";
    display: block;
    width: 50%;
    border-radius: 50%;
    height: 2px;
    margin: 2px auto;
    background-color: #1b1b1b;
  }
  
  
  /*Hover*/
  .card:hover {
    background-color: #1b1b1b25;
    background-color: orange;
  }
  
  .card:hover .card-front {
    transform: translateX(-100%);
  }
  
  .card:hover .card-back {
    transform: translateX(0);
  }
  
  
  